<h2>Movie Registration</h2>

<form action="Result">
    <p>ID</p>
    <input type="text" name="ID" required/>
    <p>Title</p>
    <input type="text" name="Title" maxlength="50" required/>
    <p>Genre</p>
    <input type="text" name="Genre" required/>
    <p>Year</p>
    <input type="date" name="Year" required/>
    <p>Actors</p>
    <input type="text" name="Actors" required/>
    <p>Directors</p>
    <input type="text" name="Directors" required/>
    <input type="submit" />
</form>

